@media (max-width:1200px){
    html{
        font-size: 55%;
    }
    
}

@media (max-width:990px){
    .header{
        padding: 2rem 3%;
    }
    
    section{
        padding: 10rem 3% 2rem;
    }

    .project{
        padding-bottom: 6rem;
    }

    footer{
        padding: 2rem 3%;
    }
}

@media (max-width:780px){
    #menu-icon{
         display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0 ;
        width: 100%;
        padding: 1rem 3%;
        background-color: var(--bgcolor);
        border-top: 1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home_s{
        flex-direction: column;
    }

    .home_content h3{
        font-size: 3rem;
    }
    .home_content h1{
        font-size: 5rem;
    }

    .img .imgs{
        width: 60vw;
        margin-top: 4rem;
    }

    /* .social{
       display: block; 
       margin:auto;
    } */

    .about{
        flex-direction: column;
    }

    .pbimg{
        width: 60vh;
        margin-top: 4rem;
    }

    .testimonial{
        flex-direction: column;
    }



    .services_div{
        flex-direction: column;
    }
    .services_div1{
        width: 60vh;
        margin-top: 3rem;
    }


    .project h1{
        margin-bottom: 7.6rem;
    }

    .project_1{
        grid-template-columns: repeat(2,1fr);
    }
}


@media (max-width:600px){
    .project_1{
        grid-template-columns: 1fr;

    }
    .services_div1{
        width: 45vh;
    }
}
@media (max-width:480px){
    html{
        font-size: 50%;
    }
    
    .pbimg{
        width: 30vh;
        margin-top: 4rem;
    }

    .contect form .cont input{
        width: 100%;
    }
    .services_div1{
        width: 35vh;
    }
}
@media (max-width:400px){
    .services_div1{
        width: 25vh;
    }
}
